@media only screen and (max-width: 480.8px)
{
  .icon-sticky 
  {
    display: none;
  }
  .mobile-footer-sticky 
  {
    display: flex;
    z-index: 99999999999;
  }
}
@media only screen and (min-width: 481px) and (max-width: 767.8px)
{
  .icon-sticky 
  {
    display: none;
  }
  .mobile-footer-sticky 
  {
    display: flex;
    z-index: 99999999999;
  }
  .mobile-footer-sticky-item 
  {
    font-size: 19px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991.8px)
{
    .icon-sticky 
  {
    display: none;
  }
  .mobile-footer-sticky 
  {
    display: flex;
    z-index: 99999999999;
  }
  .mobile-footer-sticky-item 
  {
    font-size: 24px;
  }
}
@media only screen and (min-width:200px) and (max-width:991.8px)
{
    header 
    {
        position: sticky;
        top: 0px;
    }
}
@media only screen and (min-width:535px) and (max-width:540.8px)
{
    .cus 
    {
        width: 100%;
    }
}