@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
*
{
    font-family: "Jost", sans-serif;
    list-style: none;
    text-decoration:none !important;
}
/* icon-right-sticky */
@keyframes bounce {
    0% 
    {
        transform: scale(1);
    }
    25% 
    {
        transform: scale(1.01);
        box-shadow: 1px 1px 10px 2px #123062;
    }
    50% 
    {
        transform: scale(1.05);
        box-shadow: 2px 2px 10px 2px #123062;
    }
    75% 
    {
        transform: scale(1.01);
        box-shadow: 1px 1px 10px 2px #123062;
    }
    100% 
    {
        transform: scale(1);
    }
}
.icon-sticky 
{
    position: fixed;
    right:25px;
    top: 50%;
    transform: translate(0%,-50%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: transparent;
    z-index: 99999999999999999999999;
}
.icon-item
{
    background-color: #123062;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height:50px;
    border-radius: 50%;
    animation-name: bounce;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.icon-item>a>i
{
    color: white;
    font-size: 24px;
}
/* end */
header 
{
    top: 40px;
    transition: 0.5s;
}
#mobile-menu 
{
    width: 100%;
}
.headerScroll
{
    top: 0px;
}
#menu ul li a {
    font-weight: 500;
    font-size: 18px;
    padding: 20px 12px;
    color: #000;
    border-radius: 15px;
    text-transform: uppercase;
    transition: 0.5s;
}
@keyframes shadow-effect {
    0% 
    {
        box-shadow: none;
    }
    50% 
    {
        box-shadow: 1px 1px 10px 10px #122f6263;
    }
    100%
    {
        box-shadow: none;
    }
}
.enq-btn
{
    background-color: #123062;
    color: white;
    padding: 7px 25px;
    border-radius: 50px;
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight:bold;
    font-size: 14px;
    animation-name: shadow-effect;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#homeBannerSlider .carousel-control-prev-icon 
{
    background-color:rgb(89, 250, 89);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transform: scale(0);
    transition: 0.5s;
}
#homeBannerSlider .carousel-control-next-icon
{
    background-color:green;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    transform: scale(0);
    transition: 0.5s;
}
#homeBannerSlider:hover .carousel-control-prev-icon
{
    transform: scale(1);
}
#homeBannerSlider:hover .carousel-control-next-icon
{
    transform: scale(1);
}
.discover-section
{
    background-color: #F2F2F6;
}
.discover-section>h2 
{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #223D6D;
}
.discover-item 
{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.discover-item img 
{
    transition: 0.5s;
}
.discover-item:hover img 
{
    transform: scale(1.1,1.1);
}
.discover-overlay
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    transition: 0.5s;
}
.discover-overlay>h3 
{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
}
.discover-item:hover .discover-overlay
{
    background-color: rgba(0,0,0,0.5);
}
.about-us 
{
    background-color: #F2F2F6;
}
.about-us-content>h3 
{
    color: #223D6D;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}
.about-us-content>p 
{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
.about-us-content>button 
{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 55px;
    text-align: center;
    border-radius: 50px;
    border:none;
    background-color: #CCCCCC;
}
.banner
{
    background: url(../images/imgi_26_wall-fan-Promotional-Offer-Banner-Desktop-ver.webp) no-repeat;
    background-position:center center;
    background-size:cover;
    height: 600px;
}
.banner-content
{
    padding-top: 250px;
}
.deal 
{
    font-family: "Schoolbell", cursive;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}
.banner-content>h2 
{
    font-size: 40px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: -0.5px;
    color: white;
}
.banner-content>p 
{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
    line-height: 25px;
    color: white;
    padding: 20px 0px;
}
.banner-content>button 
{
    border: 1px solid white;
    border-radius: 50px;
    background-color: #123062;
    color: white;
    padding: 8px 50px;
}
.sub-btn 
{
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    background-color: green;
    color: white;
    transition: 0.5s;
}
.menu-link
{
    transition: 0.5s;
    padding-left: 5px;
}
.menu-link:hover 
{
    background-color: #123062;
}
.menu-link:hover>a 
{
    color: white !important;
}
.enq-head 
{
    color: #223D6D;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}
.sub-btn:hover 
{
    background-color: rgb(50, 250, 50);
    color: black;
}
.testing-2 
{
    border-radius: 0px;
    border-top: 2px solid green;
    padding: 20px;
}
.testing:hover .testing-2
{
    display:block;
}
.dropdown-item
{
    border-radius: 0px !important;
    padding: 10px 20px !important;
    color: #123062 !important;
    text-transform: uppercase !important;
    margin: 10px 0px;
}
.testing-2 .dropdown-item:hover
{
    background-color: #123062;
    color:#42ac3a !important;
}
.view-btn
{
    transition: 0.5s;
}
.view-btn:hover 
{
    background-color: gainsboro;
}
/* mobile-footer-sticky */
@keyframes color-change {
    0% 
    {
        background-color: #123062;
    }
    50% 
    {
        background-color: green;
    
    }
    100% 
    {
        background-color: #123062;
    }
}
.mobile-footer-sticky
{
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: none;
}
.mobile-footer-sticky-item
{
    flex-basis: 33.3333%;
    border-right: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    padding:15px 5px;
    font-size: 20px;
    background-color:#123062;
    animation-name: color-change;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.mobile-footer-sticky-item>h4 
{
    font-size:18px;
}
.brd 
{
    border:none !important;
}
/* end */